/* Reset Rules */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
  --bg-white: #ffffff;
  --bg-gray: lightgray;
  --logo: black;
  --my-success: #29fd23;
  --success-bootstrap: #5cb85c;
  --danger-bootstrap: #d9534f;
}