/* Reset Rules */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
  --bg: #f7feda;
  --red: #ce5c49;
  --green: #74b850;
  --gray: #dddfdf;
  
  --bg-white: #fff;
  --bg-gray: #ebebeb;
  --my-text: black;
  --success-bootstrap: #5cb85c;
  --danger-bootstrap: #d9534f;
  --my-success: #ee670e;
}