@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
/* Reset Rules */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
body {
  font-family: "Mitr", serif;
}

:root {
  --gray: #dddfdf;
  --purple: #513e5e;
  --red: #E73A5E;
  --green: #4EBDAB;
  --orange: #FB9300;



  --bg: #f7feda;
  
  --bg-white: #fff;
  --bg-gray: #ebebeb;
  --my-text: black;
  --success-bootstrap: #5cb85c;
  --danger-bootstrap: #d9534f;
  --my-success: #ee670e;
}